body {
font-family:'Cabin'!important;
background:#e3e2e2!important
}

.header, header {
    background: #f6ca38!important;
}

.logo,logo {
    width: 315px !important;
    background: url(../press/press-kit/img/logotype_colored.svg) no-repeat no-repeat 1px 4px !important;
    background-size: auto !important;
    background-size: 120px !important;
    padding: 0 0px 9px 120px !important;
    line-height: 41px !important;
    top: 1px !important;
    color:#333!important
}

header nav ul li p{color:#333!important}

::selection {
    background: #feec00!important;
    color: #000!important;
}

.h1, h1 {
    color: #004cfe!important;
}

.navmenu {
    color: #00964a!important;
}
.navmenu ul > li:hover {
    background: #00964a!important;
}

ul.tabs{border-bottom:1px solid #00964a}
ul.tabs li a:active{color:#00964a80;border-bottom:4px solid #00964a80}
ul.tabs li.current a{color:#00964a;border-bottom:4px solid #00964a}

button.color{background:#00964a;color:#fff;font-weight:bold;padding:10px;font-size:16px}
button.color:hover{background:#fff;color:#00964a}

.btn-primary {
    background-color:#00964a!important;
}

.footer,footer{background:#fe8b00;color:#3f3d56}

@media(max-width:8in){
.logo, logo {
    font-size: 25px;
    line-height: 35px;
    background-size: 32px;
    padding: 0 0px 9px 42px;
}
}
